@font-face {
	font-family: 'm_2pthin';
	src: url('./font/m2.eot'), /* IE9 Compat Modes */
	     url('./font/m2.eot?#iefix') format('embedded-opentype'), /*IE6-IE8? */
	     url('./font/m2.woff') format('woff'),
	     url('./font/m2.ttf')  format('truetype'), /* iOS Safari, Androidとか*/
	     url('./font/m2.svg#m_2pthin') format('svg'); /* Legacy iOS */
}
body{
	margin:0;
	color: #FFFFFF;
	background-color:#000000;
}
h3 {
	margin: 10px 0;
}
a {
	color: #FFFFFF;
}
.content{

	margin: 15px;
}

.container{
	margin:15px;
}
.about-container{

}
.likes-container{

}

.activity-container{

}
.activity-year{

}
.activity-contents{

}

.contact-container{

}
